
  <div class="container-fluid mainpage">
    <div class=" row aligh-items-center justify-content-center  h-100">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class=" myForm card shadow formbg ">
          <div class="card-title text-center border-bottom ">
            <div class="mb-2">
              <label for="username" class="form-label mt-4  ">ChangePassword</label>
            </div>
          </div>
          <div class="card-body d-grid gap-3">
            <form [formGroup]="registerForm"  >
              <label for="oldpassword" class="form-label">Old Password</label>
              <input type="text" class="form-control" formControlName="oldpassword"/>
              <div class="mb-4 pt-3">
                <label for="newpassword"  class="form-label " >New Password</label>
                <input type="password"  class="form-control" formControlName="password"/>
              </div>
              <div class="mb-4 pt-0">
                <label for="confirmpassword"  class="form-label " >Confirm Password</label>
                <input type="password"  class="form-control" formControlName="confirmPassword"/>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary main-sm" (click)="registeruser()">ChangePassword</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


