<div class="container-fluid mainpage">
  <app-navbar></app-navbar>
  <div class=" row aligh-items-center justify-content-center  h-100">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class=" myForm card shadow formbg ">
        <div class="card-title text-center border-bottom ">
          <div class="mb-2">
            <label for="username" class="form-label mt-4 ">Login</label>
          </div>
        </div>
        <div class="card-body d-grid gap-3">
          <form #login="ngForm" (ngSubmit)="loginuser(login.value)">
            <label for="username" class="form-label">Username</label>
            <input type="text" required #username="ngModel" [class.is-invalid]="username.invalid && username.touched"
              class="form-control " id="username" name="username" ngModel minlength="2" />
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <small class="text-danger" *ngIf="username.errors?.['required']">username is required</small>
              <small class="text-danger" *ngIf="username.errors?.['minlength']">username must be atleast 2
                characters</small>
            </div>
            <div class="mb-4 pt-3">
              <label for="password" class="form-label ">Password</label>
              <input type="password" required #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched" class="form-control" id="password"
                name="password" ngModel minlength="5" />
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <small class="text-danger" *ngIf="password.errors?.['required']">password is required</small>
                <small class="text-danger" *ngIf="password.errors?.['minlength']">password must be atleast 5
                  characters</small>
              </div>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary main-sm"
                [disabled]="!login.form.valid && login.invalid ">Login</button>
            </div>
            <div class="d-flex pt-4 justify-content-center">
              <a class="nav-link-hover px-2 " routerLink="/register">Don't have an account?</a>
              <a class="nav-link-hover px-3" routerLink="">Forgotpassword</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>