<!-- <h1>ANGULAR</h1>
<img src="../assets/istockphoto-1299533553-170667a.jpg" alt="Trulli" width="500" height="333">
<app-events></app-events> -->

<!-- <app-directives></app-directives> -->

<!-- <app-parentcomponent></app-parentcomponent> -->

<!-- <app-childcomponent></app-childcomponent> -->

<!-- <app-pipes></app-pipes> -->

<!-- <h2>Routing navigation</h2>
<nav>
    <a routerLink="/first" routerLinkActive="active">firstcomponent</a><br>
    <a routerLink="/second">secondcomponent</a>
</nav>
<button (click)="navigatebutton()">navigate button</button> -->

<router-outlet></router-outlet>