

.myForm {
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    .myForm {
        min-width: 90%;
    }
}

.add{
    background-color: black;
}

.mainpage {
    height: 100vh;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);

}

.formbg{
   background-color: rgba(0, 0, 0, 0.2);
   
}

.tableadjust{
    margin-top: 60px;
    
}

.delete:hover{
   color:red
}

.edit:hover{
    color:green
}